@define-color bg       #1a1b26;
@define-color bg_dim   #16161e;
@define-color fg_dim   #a9b1d6;
@define-color active   #7aa2f7;

* {
    border: none;
    border-radius: 0;
    font-family: monospace;
    font-size: 16px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background: @bg;
    color: @fg_dim;
}

#workspaces button,
#battery,
#tray {
    padding: 2px 6px 2px 6px;
    margin: 2px 6px 4px 6px;
    background: @bg_dim;
    color: @fg_dim;
}

#workspaces button.active {
    padding: 2px 10px 2px 10px;
    color: @active;
}
